
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Liste des Posts</h1>

<f:flashMessages />

<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<f:translate key="tx_chsbblog_domain_model_post.title" />
				</div>
				<div class="col-md-2">
					<f:translate key="tx_chsbblog_domain_model_post.publication_date" />
				</div>
				<div class="col-md-2">
					<f:translate key="tx_chsbblog_domain_model_post.summary" />
				</div>
				<div class="col-md-2">
					<f:translate key="tx_chsbblog_domain_model_post.content" />
				</div>
				<div class="col-md-2">
					<f:translate key="tx_chsbblog_domain_model_post.image" />
				</div>
				<div class="col-md-2">
					Action
				</div>
			</div>
		</div>
		<f:for each="{posts}" as="post">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<f:link.action action="show" arguments="{post : post}"> {post.title}</f:link.action>
				</div>
				<div class="col-md-2">
					<f:link.action action="show" arguments="{post : post}"> {post.publicationDate -> f:format.date()}</f:link.action>
				</div>
				<div class="col-md-2">
					<f:link.action action="show" arguments="{post : post}"> {post.summary}</f:link.action>
				</div>
				<div class="col-md-2">
					<f:link.action action="show" arguments="{post : post}"> {post.content}</f:link.action>
				</div>
				<div class="col-md-2">
					<f:link.action action="show" arguments="{post : post}"> {post.image.originalResource.name}</f:link.action>
				</div>
				<div class="col-md-2">
					<f:link.action action="delete" arguments="{post : post}">Delete</f:link.action>
				</div>
			</div>
		</div>
	</f:for>
</div>

</f:section>