<f:layout name="Default" />
This Template is responsible for creating a table of domain objects.
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
<h1>Listes des Tags</h1>
<f:flashMessages />
<!-- <table  class="tx_chsbblog" >
		<ul class="list-group">
				<li class="list-group-item">
						<f:translate key="tx_chsbblog_domain_model_tag.title" />
				</li>
		</ul>
</table> -->
<!-- <f:link.action action="delete" arguments="{tag : tag}">Delete</f:link.action> -->


<f:for each="{tags}" as="tag">
<ul class="list-group">
	<li class="list-group-item">
		<f:link.action action="show" arguments="{tag : tag}"> {tag.title}</f:link.action>
		<f:link.action action="delete" arguments="{tag : tag}">Supprimer</f:link.action>
	</li>
</ul>
</f:for>

</f:section>