
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Category</h1>

<f:flashMessages />

<ul>
	<li><f:translate key="tx_chsbblog_domain_model_category.name" /></li>
	<li><f:translate key="tx_chsbblog_domain_model_category.description" /></li>
	<li> </li>
	<li> </li>
</ul>

<div class="list-group">
	<f:for each="{categories}" as="category">
		<ul class="list-group-item">
			<li><f:link.action action="show" arguments="{category : category}"> {category.name}</f:link.action></li>
			<li><f:link.action action="show" arguments="{category : category}"> {category.description}</f:link.action></li>
			<li><f:link.action action="edit" arguments="{category : category}">Edit</f:link.action></li>
			<li><f:link.action action="delete" arguments="{category : category}">Delete</f:link.action></li>
		</ul>
	</f:for>
</div>

<f:link.action action="new">New Category</f:link.action>
</f:section>